#board {
background-color: none;
width: 640px;
height: 640px;
border: 3px solid black;
}

.col {
padding: 0;
border: 0;
float: left;
width: 12.5%;
height: 100%;
background-color: none;
}

.black_square {
border: 0;
background-color: #769656;
width: 80px;
height: 80px;
}

.white_square {
border: 0;
background-color: #eeeed2;
width: 80px;
height: 80px;
}

.black_pawn {
border: 0;
width: 80px;
height: 80px;
background-image: url("./assets/black_pawn.png");
background-size: contain;
}

.white_pawn {
border: 0;
width: 80px;
height: 80px;
background-image: url("./assets/white_pawn.png");
background-size: contain;
}

.black_knight {
border: 0;
width: 80px;
height: 80px;
background-image: url("./assets/black_knight.png");
background-size: contain;
}

.white_knight {
border: 0;
width: 80px;
height: 80px;
background-image: url("./assets/white_knight.png");
background-size: contain;
}

.black_bishop {
border: 0;
width: 80px;
height: 80px;
background-image: url("./assets/black_bishop.png");
background-size: contain;
}

.white_bishop {
border: 0;
width: 80px;
height: 80px;
background-image: url("./assets/white_bishop.png");
background-size: contain;
}

.black_rook {
border: 0;
width: 80px;
height: 80px;
background-image: url("./assets/black_rook.png");
background-size: contain;
}

.white_rook {
border: 0;
width: 80px;
height: 80px;
background-image: url("./assets/white_rook.png");
background-size: contain;
}

.black_queen {
border: 0;
width: 80px;
height: 80px;
background-image: url("./assets/black_queen.png");
background-size: contain;
}

.white_queen {
border: 0;
width: 80px;
height: 80px;
background-image: url("./assets/white_queen.png");
background-size: contain;
}

.black_king {
border: 0;
width: 80px;
height: 80px;
background-image: url("./assets/black_king.png");
background-size: contain;
}

.white_king {
border: 0;
width: 80px;
height: 80px;
background-image: url("./assets/white_king.png");
background-size: contain;
}
